

#counter {width: 252px; height: 100%;  position: relative; }
#counter h2 { line-height: 42px; padding-left: 15px; font-size: 14px; font-family: arial; color:#FFF; }
#counter a {font-weight: normal; text-decoration: none; color:#FFF; }
#counter a:hover {text-decoration: underline; }
 
#counter_content { width: 252px; position: relative; top: 62px; left:2px ;right: 14px; z-index: 1; }

#counter_content li { 
	float: left; 
	width: 84px; height: 74px; line-height: 74px; 
	/*background: url(ico.png) no-repeat -303px 0;*/
	text-align: center; color: #fff; cursor: pointer; 
	vertical-align:middle;
	
	border:1px solid #343434;
	margin: 0px;
    padding:0px;
	margin-left:-1px; margin-top:-1px;  
} 

#counter_content .active,
#counter_content li:active { 
	background-color: #333; /*background: url(ico.png) no-repeat -244px 0;*/
	}
 

#counter p {  position: absolute; color="#56baca" face="À¼Í¤ºÚ" font-size: 26px; text-align: center; }

 