#pwd-box{  
        width:400px;  
		height: 45px;  
        padding-left: 0px;  
        position: relative; 
		border: none;  
		/*
        border: 1px solid #9f9fa0;  
        border-radius: 3px; */ 
		margin-left:40px;
over-flow:hidden  
    }  
#pwd-box input[type="tel"]{  
        width: 99%;  
        height: 45px;  
        color: transparent;  
        position: absolute;  
        top: 0;  
        left: 0;  
        border: none;  
 
        opacity: 0;  
        z-index: 1;
		/*
		        font-size: 18px; 
        letter-spacing: 35px; */  
    }  
#pwd-box-fake-box input{  
        width: 32px;  
        height: 38px;  
        border: none;  
        /*border-right: 1px solid #e5e5e5; */ 
		border-bottom: 3px solid #403f56;
		background-color: black;
        text-align: center;  
        font-size: 30px;  
		margin-left:24px;
    }  

	/*
    .fake-box input:nth-last-child(1){  
        border:none;  
		
    }  */